dataset/ARGOStest/*
dataset/ARGOStraining/*
FalsePositives/*
__pycache__
.vscode
trainingset.h5
testset.h5
inceptionV3.h5
logger.csv
raw/*.h5
raw/*.pickle
raw/*.pkl
*.rar
*.pickle
*.h5
graphs/
trained_models/*.h5
trained_models/*.joblib
